<head>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand:400,700|Abril+Fatface|Josefin+Slab:400,600,400italic,600italic,700,700italic,300|Covered+By+Your+Grace|Handlee|Arimo:400,400italic,700,700italic|Oswald|Catamaran:400,300,500|Rubik:400,300,500' rel='stylesheet' type='text/css'>

</head>
  <div class="jumbotron">
    <div class="container">
      <h1 id="header">SimplFit</h1>
      <p>
        Reach your <span style="color: white"><b>goals</b></span> and gain
        access to the <span style="color: white"><b>best</b></span>
        health & fitness professionals
      </p>
      <div>
        <%= link_to "users/sign_up", class: "button" do %>
      <div class="btn btn-lrg" id="sign-up">
        <i class="fa fa-envelope"></i>&nbsp; Sign up for FREE</div>
      </div>
      <% end %>
      <div class="row", id="social-media">
        <div class="col-xs-4 col-xs-offset-4">
          <a href="https://twitter.com/SimplFit" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @SimplFit</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
  </div>

<div class="container landing-page", id="welcome">
  <div class="row">
    <div class="col-xs-4">
      <h1 align="center"> Welcome </h1>
      <p>
        Welcome to SimplFit. This is a test paragraph for the welcome section.
        Everything you need to know about welcome stuff will be put here.
      </p>
    </div>
    <div class="col-xs-4">
      <h1 align="center"> Welcome </h1>
      <p>
        Welcome to SimplFit. This is a test paragraph for the welcome section.
        Everything you need to know about welcome stuff will be put here.
      </p>
    </div>
    <div class="col-xs-4">
      <h1 align="center"> Welcome </h1>
      <p>
        Welcome to SimplFit. This is a test paragraph for the welcome section.
        Everything you need to know about welcome stuff will be put here.
      </p>
    </div>
  </div>
</div>

<div class="container landing-page", id="about">
  <div class="row">
    <div class="col-xs-8">
      <h1> About </h1>
      <p>
        This is our about section! Here you can learn everything about SimplFit
        and it's founders. It was founded by William Gizzi and Ian Nugent.
      </p>
    </div>
  </div>
</div>
