<head>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand:400,700|Abril+Fatface|Josefin+Slab:400,600,400italic,600italic,700,700italic,300|Covered+By+Your+Grace|Handlee|Arimo:400,400italic,700,700italic|Oswald|Catamaran:400,300,500|Rubik:400,300,500' rel='stylesheet' type='text/css'>

</head>
  <div class="jumbotron">
    <div class="container">
      <h1 id="header">SimplFit</h1>
      <p>
        Reach your <span style="color: white"><b>goals</b></span> and gain
        access to the <span style="color: white"><b>best</b></span>
        health & fitness professionals
      </p>
      <%= link_to "Sign up for free", "/users/sign_up", class: "btn btn-lg", id: "sign-up" %>
    </div>
  </div>
