@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar .nav > li > a, .navbar .nav > li,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
  background: transparent;
  color: #EDF2F4 !important;
  font-size: 1.09em !important;
  font-family: "Quicksand", sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: 0.5px !important;
}
ul.nav a:hover, ul.nav a:focus, ul.nav a:active {
  background-color: none;
  color: #FF1654 !important;
  text-decoration: none
}

.btn-login, .btn-login:link, .btn-login:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 2px solid white;
    font-size: 1.09em;
}
.btn-login:active, .btn-login:hover {
    color: #FF1654;
    border: 2px solid #FF1654;
    font-size: 1.09em;
}


#logo {
  float: left;
  font-size: 1.9em;
  color: white;
  font-family: "Shadows Into Light", cursive;

}

#logo:hover {
  background-color: none;
  color: #ff1654;
  text-decoration: none;
}

.jumbotron {
  position: relative;
  text-align: center;
  padding-top: 160px;
  background-color: #37474F;
  background-image: asset-url("bluetexture.png");
  background-size: auto 600px;
  background-attachment: fixed;
  overflow: hidden;

}

.jumbotron h1, p {
  padding: 10px;
}

.jumbotron h1 {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2px;
  font-size: 5.7em;
  color: white;
}

.jumbotron p {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 14px;
  font-size: 1.8em;
  color: #FFF3E0;
  font-weight: 100;

}
.twitter-follow-button {

}
#social-media {
  padding-top: 60px;


}
.landing-page {
  font-family: "Oswald", sans-serif;
  padding: 20px;
}
#sign-up {
  background-color: #EF233C;
  color: #EDF2F4;
  font-weight: 400;
  font-size: 1.4em;
}


#sign-up:hover {
  background-color: #a60d1f;
  color: #EDF2F4;
  font-weight: 400;
  font-size: 1.4em;
}

#registration {
  text-align: left;
  padding: 80px;
  background-image: asset-url("bluetexture.png");
  background-size: cover;

}
